
.fly-in{
  animation: flyIn 4s ease-out forwards;
}

@keyframes flyIn {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 2px 0 red, -2px 0 cyan;
  }
  20% {
    text-shadow: -2px 0 red, 2px 0 cyan;
  }
  40% {
    text-shadow: 2px 2px red, -2px -2px cyan;
  }
  60% {
    text-shadow: -2px -2px red, 2px 2px cyan;
  }
  80% {
    text-shadow: 2px -2px red, -2px 2px cyan;
  }
  100% {
    text-shadow: 0 0 red, 0 0 cyan;
  }
}


@keyframes slideFromRight {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.slide-from-right {
  transform: translateY(-50%);
  opacity: 0;
  animation: slideFromRight 2s ease-out forwards; 
  animation-delay: 1s;
}
